$body-bg: #F7F9FA;
$navbar-bg: #2F323B;
$subheader-bg: #E9EDF0;
$filters-bg: #E2E5E7;
$primary: #5491E7;
$primary-hover: rgba($primary, .8);
$grey: #7E828D;
$grey-hover: rgba($grey, .15);
$success: #87CE50;
$success-hover: rgba($success, .5);
$warning: #F6A623;
$warning-hover: rgba($warning, .5);
$danger: #D9534F;
$danger-hover: rgba($danger, .5);

$radius: 4px;
$padding: 8px 15px;

body {
  background: $body-bg;
  font-family: "Roboto", sans-serif;
}
label {
  font-weight: normal;
}
input[type=search],
input[type=text],
textarea,
select {
  display: block;
  font-weight: normal;
  border: none;
  border-radius: $radius;
  padding: $padding;
  background: #fff;
  &:focus, &:hover, &:active {
    border: none;
    outline: none;
  }
  &:focus, &:active {
    background: rgba(#fff, .8);
  }
}
input[type=text],
textarea,
select {
  width: 100%;
}
select {
  height: 36px;
}
.main {
  padding-top: 50px;
  padding-bottom: 50px;
}
.food_editor,
.food_builder {
  background: $subheader-bg;
}

a {
  &:hover, &:focus {
    text-decoration: none;
  }
}
.add__btn {
  border-radius: 100px;
  margin-left: 20px;
  padding: 10px;
  line-height: 0;
  vertical-align: top;
  >.glyphicon {
    top: 0;
  }
}
.btn-group .caret {
  margin-left: 15px;
}
.btn-primary,
.label-primary,
.badge,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: $primary;
  border-color: $primary;
  color: #fff;
}
.btn-primary {
  &:hover, &:focus {
    background: $primary-hover;
    border-color: $primary-hover;
  }
}
.btn--icon {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 15px !important;
    margin-top: -8px;
    margin-left: -8px;
  }
}
.label {
  &-default {
    background: #bec2c7;
  }
}
.label--round {
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  &-default {
    background: #999;
  }
}
.label--big {
  position: relative;
  display: block;
  float: left;
  width: 28px;
  height: 28px;
  margin-right: 5px;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
  }
  &.label--text {
    position: relative;
    border: 1px solid #ddd;
    background: #fff;
    color: #000;
    font-size: 15px;
    padding-top: 5px;
    font-weight: normal;
    >.label {
      position: absolute;
      bottom: -7px;
      right: -7px;
      font-size: 10px;
      width: 16px;
      height: 16px;
      padding: 2px;
    }
  }
}
.btn--paper,
.label--paper {
  &::after {
    height: 15px;
    width: 12px;
    margin-left: -6px;
    background: url("../img/icon-paper.svg")
  }
}
.btn--food,
.label--food {
  &::after {
    height: 14px;
    width: 17px;
    background: url("../img/icon-food.svg")
  }
}
.btn--exercise,
.label--exercise {
  &::after {
    height: 16px;
    width: 16px;
    background: url("../img/icon-exercise.svg")
  }
}
.btn--flag,
.label--flag {
  &::after {
    height: 15px;
    width: 12px;
    margin-top: -7px;
    margin-left: -4px;
    background: url("../img/icon-flag.svg")
  }
}
.btn--check,
.label--check {
  &::after {
    height: 12px;
    width: 16px;
    margin-top: -6px;
    margin-left: -8px;
    background: url("../img/icon-check.svg")
  }
}
.btn--cross,
.label--cross {
  &::after {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    background: url("../img/icon-cross.svg");
    background-size: 14px 14px;
  }
}
.btn--letter,
.label--letter {
  &::after {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    background: url("../img/icon-letter.svg");
    background-size: 14px 14px;
  }
}
.btn--wallet,
.label--wallet {
  &::after {
    height: 14px;
    width: 14px;
    margin-top: -7px;
    margin-left: -7px;
    background: url("../img/icon-wallet.svg");
    background-size: 14px 14px;
  }
}
.btn--time,
.label--time {
  &::after {
    height: 18px;
    width: 18px;
    margin-top: -9px;
    margin-left: -9px;
    background: url(../img/icon-time.svg);
    background-size: 18px 18px;
  }
}

.dropdown-menu label {
  display: block;
  padding: 5px 20px;
  min-width: 200px;
}

.well,
.panel {
  border: none;
  background: #fff;
  box-shadow: 0 0 3px 0 rgba($grey, .1);
}

.trifit__logo img {
  width: 170px;
}

.btn-lang {
  position: absolute;
  top: 20px;
  right: 20px;
}
