.builder {
  padding-bottom: 50px;
}

.builder__header {
  padding: 15px 0;
  background: rgba($navbar-bg, .8);
  > .container {
    display: flex;
    justify-content: space-between;
  }
  &__search {
    float: left;
    margin-right: 20px;
    flex-grow: 10;
  }
  &__preview {
    background: rgba($navbar-bg, .5);
    margin-right: 20px;
    &:hover, &:active, &:focus {
      background: rgba($navbar-bg, .7);
    }
  }
  .btn {
    border: none;
    padding: $padding;
  }
}
.builder__filter {
  padding: 40px 0;
  &__search {
    input {
      position: relative;
      padding-left: 40px;
    }
    .glyphicon {
      top: 29px;
      left: 10px;
      color: $text-grey;
      z-index: 100;
    }
  }
  select {
    margin-top: 25px;
  }
}
.builder__result {
  background: #fff;
  border: 2px solid #fff;
  border-radius: $radius;
  padding: $padding;
  padding-bottom: 10px;
  margin-top: 25px;
  cursor: pointer;
  .glyphicon {
    display: none;
  }
  &:hover, &:focus, &:active {
    position: relative;
    border-color: $btn-bg;
    .glyphicon {
      position: absolute;
      display: inline-block;
      top: 50%;
      margin-top: -7px;
      right: 30px;
      color: $text-grey;
    }
  }
  &__heading {
    position: relative;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -15px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $btn-bg;
    }
  }
  &__descr {
    display: block;
    color: $text-grey;
  }
}
.builder__body {
  border-left: 1px solid rgba($text-grey, .1);
  padding: 40px 0 40px 40px;
}

.builder__client {
  &__img {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    display: inline-block;
  }
  &__info {
    display: inline-block;
    vertical-align: middle;
    .client__about {
      color: $text-grey;
    }
  }
}
.builder__text {
  margin-top: 20px;
  &__delete {
    display: none;
  }
  textarea {
    display: none;
    margin-top: 10px;
  }
}

.builder__content {
  margin-top: 30px;
  &__heading {
    color: $text-grey;
    margin-bottom: 20px;
    padding: 0 70px;
  }
}
.builder__dish {
  &__header,
  &__dropdown {
    position: relative;
    margin-top: 20px;
    padding: 20px 70px;
    border-radius: $radius;
    background: #fff;
    input {
      padding-left: 0;
      padding-right: 0;
    }
    .glyphicon {
      position: absolute;
      top: 30px;
      left: 25px;
      color: $text-grey;
    }
    .glyphicon-remove {
      right: 65px;
      left: initial;
    }
    .glyphicon-chevron-down {
      right: 25px;
      left: initial;
      color: $btn-bg;
    }
  }
  &__dropdown {
    border-top: 1px solid $text-grey-hover;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    .ingridient {
      padding: 10px 0;
      display: block;
      input {
        display: inline;
        margin-right: 20px;
      }
    }
    .comment {
      margin-top: 20px;
      padding-top: 20px;
      border-top: 1px solid $text-grey-hover;
    }
    textarea {
      border: 1px solid $text-grey-hover;
    }
  }
  &--empty {
    border: 1px dashed $text-grey;
    border-radius: $radius;
    text-align: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    span {
      max-width: 200px;
    }
  }
  &--opened {
    >.builder__dish__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &--closed {
    >.builder__dish__dropdown {
      display: none;
    }
  }
}
