.editor {
  background: $subheader-bg;
  padding-bottom: 30px;
}

.editor__form {
  input {
    margin-bottom: 25px;
  }
}


.editor__headings {
  margin-bottom: 20px;
}
.editor__heading {
  font-size: 19px;
  font-weight: normal;
}
.editor__labels {
  margin-bottom: 15px;
}
.editor__label {
  display: block;
  font-weight: normal;
  margin-bottom: 15px;
  &__text {
    display: inline-block;
  }
  &__hint {
    display: block;
    font-size: 12px;
    color: $text-grey;
  }
}
.editor__inputs {
  position: relative;
  &::after {
    content: "x";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: -13px;
    right: -30px;
    cursor: pointer;
    padding: 20px;
  }
}


.editor__ingridients {
  input {
    padding: 8px 2px;
  }
}
.editor__ingridientsmore {
  .editor__label__text {
    padding-top: 8px;
  }
}

@media (max-width: 768px) {
  .editor__heading {
    display: none;
  }
}

@media (min-width: 768px) {
  .editor__form {
    textarea {
      min-height: 490px;
    }
  }
}
