.filters {
  background: $filters-bg;
  padding: 10px 0;

}

.filters .navbar-left {
  margin: 8px 0;
}

.filters__item {
  margin-right: 20px;

  &.filters__reset {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    color: $text-grey;
    > .glyphicon {
      margin-right: 10px;
    }
    &:hover, &:active, &:focus {
      color: $text-grey-hover;
    }
  }
}

.filters__item .caret {
  margin-left: 15px;
}

.filters__search {
  position: relative;
  border-radius: 50px;
  background: rgba(#fff, 0.65);
  min-width: 300px;
  padding-left: 40px;

  &--icon {
    top: 3px;
    left: 32px;

  }
}
