.navbar {
  background: $navbar-bg;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.navbar .trifit__logo {
  color: #fff;
}

.navbar .caret,
.navbar .badge {
  margin-left: 15px;
}

.navbar .badge {
  background: $btn-bg;
  font-weight: normal;
  padding: 4px 10px;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}
