.table {
  background: transparent;
}
.table-hover>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 0;
  padding: 20px 10px;
}

.table .table__heading {
  padding: 40px 10px 30px;
  vertical-align: middle;
  &:not(:first-child) {
    color: $text-grey;
    font-weight: bold;
    padding-top: 45px;
  }
  &:first-child {
    font-size: 20px;
  }
}

.food_plans .table,
.food_templates .table {
  &__plan, &__template {
    width: 35%;
  }
  &__plan, &__inside, &__trainer {
  padding-top: 32px;
  }
  &__inside, &__trainer, &__client, &__create {
    width: 25%;
  }
  &__inside {
    width: 15%;
    color: $text-grey;
  }
  &__create {
    text-align: right;
  }
  &__client {
    position: relative;
    &__img {
      width: 46px;
      height: 46px;
      margin-right: 20px;
    }
    &:not(.table__heading)::after {
      position: absolute;;
      content: "для";
      color: $text-grey;
      top: 32px;
      left: -40px;
    }
  }
}

.food_recipes .table {
  &__recipe {
    width: 30%;
    &__img {
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
    }
    &__img img {
      width: 70px;
      height: 70px;
    }
    &__about {
      display: inline-block;
      vertical-align: middle;
    }
    &__title {
      margin-top: 0;
    }
    &__type {
      color: $text-grey;
    }
  }
  &__cal, &__energy, &__time, &__status {
    width: 15%;
    padding-top: 45px;
    color: $text-grey;
  }
  &__time, &__status {
    width: 10%;
  }
  &__status {
    padding-top: 49px;
  }
  .label {
    display: block;
    padding: 0;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    &-default {
      background: rgba($text-grey, 0.25);
    }
  }
}
