.subheader {
  .container;
  .clearfix;
  background-color: #fff;
  position: relative;
  z-index: -3;
}
.subheader__cover {
  height: 389px;
  width: 100%;
  position: relative;
  background-color: #E4F1F9;
  background-image: url("../img/bg-back-mobile.jpg");
  background-size: 768px 389px;
  background-position: bottom;
  z-index: -2;
}
@media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
   .subheader__cover {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}
.subheader__cover--small {
  height: 156px;
}
.subheader__cover::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 27px;
  background-image: url("../img/bg-intro-triangle-mobile.svg");
  background-size: 330px 27px;
}
.subheader__cover::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 282px;
  height: 214px;
  margin-top: -107px;
  margin-left: -141px;
  background-image: url("../img/text-sedona-index.svg");
  background-size: 282px 214px;
}
.subheader__cover--small::after {
  width: 229px;
  height: 39px;
  margin-top: -29px;
  margin-left: -115px;
  background-image: url("../img/text-sedona.svg");
  background-size: 229px 39px;
}
.subheader__txt {
  position: absolute;
  width: 230px;
  height: 175px;
  top: 50%;
  left: 50%;
  margin-top: -97px;
  margin-left: -115px;
  z-index: -1;
}
.subheader__text {
  text-align: center;
  position: relative;
  padding: 40px 25px 26px;
}
.subheader__text p {
  line-height: 26px;
}
.subheader__text--small {
  padding: 40px 25px 16px; //suits to form page
}
.subheader__text--photo {
  padding-bottom: 26px; //suits to photo page
}
.subheader__text--small p {
  line-height: 24px; //suits to form page
}

.subheader__title {
  margin-bottom: 26px; //suits to form page
}
// @media @mobile-width {
//   .subheader__text::after {
//     position: absolute;
//     content: "";
//     bottom: -37px;
//     left: 0;
//     width: 320px;
//     height: 37px;
//     background: url("../img/bg-triangle.svg");
//     background-size: 320px 37px;
//     z-index: 100;
//   }
//   .subheader__text--small::after {
//     display: none;
//   }
// }

@media @tablet-width {
  .subheader__cover {
    height: 520px;
    background-size: 768px 520px;
  }
  .subheader__cover--small {
    height: 290px;
  }
  .subheader__cover::before {
    height: 57px;
    background-image: url("../img/bg-intro-triangle-tablet.svg");
    background-size: 768px 57px;
  }
  .subheader__cover::after {
    width: 460px;
    height: 350px;
    margin-top: -182px;
    margin-left: -230px;
    background-size: 460px 350px;
  }
  .subheader__cover--small::after {
    width: 458px;
    height: 78px;
    margin-top: -50px;
    margin-left: -228px;
    background-image: url("../img/text-sedona.svg");
    background-size: 458px 78px;
  }
  .subheader__txt {
    width: 460px;
    height: 490px;
    top: 7px;
    left: 156px;
    margin-top: 0;
    margin-left: 0;
  }
  .subheader__txt--small {
    top: -111px;
  }
  .subheader__text {
    padding: 50px 80px;
  }
  .subheader__text--small {
    padding: 74px 165px 69px;
  }
  .subheader__title--small {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

@media @desktop-width {
  .subheader__cover {
    background-image: url("../img/bg-back-desktop.jpg");
    background-size: 1200px 520px;
  }
  @media
    (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
     .subheader__cover {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }
  .subheader__cover--small {
    height: 300px;
  }
  .subheader__cover::before {
    background-image: url("../img/bg-intro-triangle-desktop.svg");
    background-size: 1201px 57px;
  }
  .subheader__txt--small {
    top: -103px;
  }
  .subheader__txt {
    left: 50%;
    margin-left: -229px;
  }
  .subheader__text {
    padding: 50px 355px 49px;
  }
  .subheader__text--small {
    padding: 114px 380px 58px;
  }
  .subheader__title {
    margin-bottom: 28px;
  }
  .gallery__wrapper {
    padding: 24px 22px;
  }

}
