$body-bg: #F7F9FA;
$navbar-bg: #2F323B;
$subheader-bg: #E9EDF0;
$filters-bg: #E2E5E7;
$btn-bg: #5491E7;
$btn-bg-hover: rgba($btn-bg, .8);
$text-grey: rgba(0,0,0,.4);
$text-grey-hover: rgba($text-grey, .15);

$radius: 4px;
$padding: 8px 15px;

body {
  background: $body-bg;
}
.food_editor,
.food_builder {
  background: $subheader-bg;
}
.btn-primary,
.label-primary,
.badge {
  background: $btn-bg;
  border-color: $btn-bg;
}
.btn-primary {
  &:hover, &:focus {
    background: $btn-bg-hover;
    border-color: $btn-bg-hover;
  }
}
a {
  &:hover, &:focus {
    text-decoration: none;
  }
}
.add__btn {
  border-radius: 100px;
  margin-left: 20px;
  padding: 10px;
  line-height: 0;
  vertical-align: top;
  >.glyphicon {
    top: 0;
  }
}


label {
  font-weight: normal;
}
input[type=search],
input[type=text],
textarea,
select {
  display: block;
  font-weight: normal;
  border: none;
  border-radius: $radius;
  padding: $padding;
  background: #fff;
  &:focus, &:hover, &:active {
    border: none;
    outline: none;
  }
  &:focus, &:active {
    background: rgba(#fff, .8);
  }
}
input[type=text],
textarea,
select {
  width: 100%;
}
select {
  height: 36px;
}
