@charset "UTF-8";
body {
  background: #F7F9FA; }

.food_editor,
.food_builder {
  background: #E9EDF0; }

.btn-primary {
  background: #5491E7;
  border-color: #5491E7; }
  .btn-primary:hover, .btn-primary:focus {
    background: rgba(84, 145, 231, 0.8);
    border-color: rgba(84, 145, 231, 0.8); }

a:hover, a:focus {
  text-decoration: none; }

.add__btn {
  border-radius: 100px;
  margin-left: 20px;
  padding: 10px;
  line-height: 0;
  vertical-align: top; }
  .add__btn > .glyphicon {
    top: 0; }

label {
  font-weight: normal; }

input[type=search],
input[type=text],
textarea,
select {
  display: block;
  font-weight: normal;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  background: #fff; }
  input[type=search]:focus, input[type=search]:hover, input[type=search]:active,
  input[type=text]:focus,
  input[type=text]:hover,
  input[type=text]:active,
  textarea:focus,
  textarea:hover,
  textarea:active,
  select:focus,
  select:hover,
  select:active {
    border: none;
    outline: none; }
  input[type=search]:focus, input[type=search]:active,
  input[type=text]:focus,
  input[type=text]:active,
  textarea:focus,
  textarea:active,
  select:focus,
  select:active {
    background: rgba(255, 255, 255, 0.8); }

input[type=text],
textarea,
select {
  width: 100%; }

select {
  height: 36px; }

.table {
  background: transparent; }

.table-hover > tbody > tr:hover {
  background-color: rgba(0, 0, 0, 0.02); }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 0;
  padding: 20px 10px; }

.table .table__heading {
  padding: 40px 10px 30px;
  vertical-align: middle; }
  .table .table__heading:not(:first-child) {
    color: rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding-top: 45px; }
  .table .table__heading:first-child {
    font-size: 20px; }

.food_plans .table__plan, .food_plans .table__template,
.food_templates .table__plan,
.food_templates .table__template {
  width: 35%; }

.food_plans .table__plan, .food_plans .table__inside, .food_plans .table__trainer,
.food_templates .table__plan,
.food_templates .table__inside,
.food_templates .table__trainer {
  padding-top: 32px; }

.food_plans .table__inside, .food_plans .table__trainer, .food_plans .table__client, .food_plans .table__create,
.food_templates .table__inside,
.food_templates .table__trainer,
.food_templates .table__client,
.food_templates .table__create {
  width: 25%; }

.food_plans .table__inside,
.food_templates .table__inside {
  width: 15%;
  color: rgba(0, 0, 0, 0.4); }

.food_plans .table__create,
.food_templates .table__create {
  text-align: right; }

.food_plans .table__client,
.food_templates .table__client {
  position: relative; }
  .food_plans .table__client__img,
  .food_templates .table__client__img {
    width: 40px;
    height: 40px;
    margin-right: 10px; }
  .food_plans .table__client:not(.table__heading)::after,
  .food_templates .table__client:not(.table__heading)::after {
    position: absolute;
    content: "для";
    color: rgba(0, 0, 0, 0.4);
    top: 32px;
    left: -40px; }

.food_recipes .table__recipe {
  width: 30%; }
  .food_recipes .table__recipe__img {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; }
  .food_recipes .table__recipe__img img {
    width: 70px;
    height: 70px; }
  .food_recipes .table__recipe__about {
    display: inline-block;
    vertical-align: middle; }
  .food_recipes .table__recipe__title {
    margin-top: 0; }
  .food_recipes .table__recipe__type {
    color: rgba(0, 0, 0, 0.4); }

.food_recipes .table__cal, .food_recipes .table__energy, .food_recipes .table__time, .food_recipes .table__status {
  width: 15%;
  padding-top: 45px;
  color: rgba(0, 0, 0, 0.4); }

.food_recipes .table__time, .food_recipes .table__status {
  width: 10%; }

.food_recipes .table__status {
  padding-top: 49px; }

.food_recipes .table .label {
  display: block;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 20px; }
  .food_recipes .table .label-default {
    background: rgba(0, 0, 0, 0.25); }

.navbar {
  background: #2F323B;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }

.navbar .trifit__logo {
  color: #fff; }

.navbar .caret,
.navbar .badge {
  margin-left: 15px; }

.navbar .badge {
  background: #5491E7;
  font-weight: normal;
  padding: 4px 10px; }

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    -webkit-transform: translatex(-50%);
    -ms-transform: translatex(-50%);
    transform: translatex(-50%); } }

.subheader {
  background: #E9EDF0;
  padding: 30px 0 50px; }

.subheader__title {
  margin-bottom: 30px; }
  .subheader__title > span {
    vertical-align: bottom; }

.subheader__icon {
  display: inline-block;
  margin-right: 20px; }

.nav-pills > .subheader__btn {
  margin: 0; }
  .nav-pills > .subheader__btn > a {
    color: #000;
    padding: 6px 25px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0; }
    .nav-pills > .subheader__btn > a:focus, .nav-pills > .subheader__btn > a:hover {
      background: #5491E7;
      border-color: #5491E7;
      color: #fff; }
  .nav-pills > .subheader__btn:first-child > a {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .nav-pills > .subheader__btn:last-child > a {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .nav-pills > .subheader__btn:not(:first-child) > a {
    margin-left: -1px; }
  .nav-pills > .subheader__btn.active > a {
    background: #5491E7;
    border-color: #5491E7;
    cursor: default; }
    .nav-pills > .subheader__btn.active > a:focus, .nav-pills > .subheader__btn.active > a:hover {
      background: #5491E7;
      border-color: #5491E7; }

.filters {
  background: #E2E5E7;
  padding: 10px 0; }

.filters .navbar-left {
  margin: 8px 0; }

.filters__item {
  margin-right: 20px; }
  .filters__item.filters__reset {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0px;
    color: rgba(0, 0, 0, 0.4); }
    .filters__item.filters__reset > .glyphicon {
      margin-right: 10px; }
    .filters__item.filters__reset:hover, .filters__item.filters__reset:active, .filters__item.filters__reset:focus {
      color: rgba(0, 0, 0, 0.15); }

.filters__item .caret {
  margin-left: 15px; }

.filters__search {
  position: relative;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.65);
  min-width: 300px;
  padding-left: 40px; }
  .filters__search--icon {
    top: 3px;
    left: 32px; }

.editor {
  background: #E9EDF0;
  padding-bottom: 30px; }
  .editor input {
    margin-bottom: 25px;
    width: 100%; }
  .editor fieldset {
    margin-bottom: 20px; }

.editor__form {
  padding-right: 40px; }

.editor__headings {
  margin-bottom: 20px; }

.editor__heading {
  font-size: 19px;
  font-weight: normal; }

.editor__labels {
  margin-bottom: 15px; }

.editor__label {
  display: block;
  margin-bottom: 15px; }
  .editor__label__text {
    display: inline-block; }
  .editor__label__hint {
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.4); }

.editor__inputs {
  position: relative; }
  .editor__inputs::after {
    content: "x";
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: -13px;
    right: -30px;
    cursor: pointer;
    padding: 20px; }

.editor__ingridients input {
  padding: 8px 2px; }

.editor__ingridientsmore .editor__label__text {
  padding-top: 8px; }

@media (max-width: 768px) {
  .editor__heading {
    display: none; } }

@media (min-width: 768px) {
  .editor textarea {
    min-height: 490px; } }

.builder {
  padding-bottom: 50px; }

.builder__header {
  padding: 15px 0;
  background: rgba(47, 50, 59, 0.8); }
  .builder__header > .container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .builder__header__search {
    float: left;
    margin-right: 20px;
    -webkit-flex-grow: 10;
    -ms-flex-positive: 10;
    flex-grow: 10; }
  .builder__header__preview {
    background: rgba(47, 50, 59, 0.5);
    margin-right: 20px; }
    .builder__header__preview:hover, .builder__header__preview:active, .builder__header__preview:focus {
      background: rgba(47, 50, 59, 0.7); }
  .builder__header .btn {
    border: none;
    padding: 8px 15px; }

.builder__filter {
  padding: 40px 0; }
  .builder__filter__search input {
    position: relative;
    padding-left: 40px; }
  .builder__filter__search .glyphicon {
    top: 29px;
    left: 10px;
    color: rgba(0, 0, 0, 0.4);
    z-index: 100; }
  .builder__filter select {
    margin-top: 25px; }

.builder__result {
  background: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 8px 15px;
  padding-bottom: 10px;
  margin-top: 25px;
  cursor: pointer; }
  .builder__result .glyphicon {
    display: none; }
  .builder__result:hover, .builder__result:focus, .builder__result:active {
    position: relative;
    border-color: #5491E7; }
    .builder__result:hover .glyphicon, .builder__result:focus .glyphicon, .builder__result:active .glyphicon {
      position: absolute;
      display: inline-block;
      top: 50%;
      margin-top: -7px;
      right: 30px;
      color: rgba(0, 0, 0, 0.4); }
  .builder__result__heading {
    position: relative;
    font-size: 15px;
    font-weight: normal;
    display: inline-block; }
    .builder__result__heading::after {
      position: absolute;
      content: "";
      top: 0;
      right: -15px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #5491E7; }
  .builder__result__descr {
    display: block;
    color: rgba(0, 0, 0, 0.4); }

.builder__body {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 40px 0 40px 40px; }

.builder__client__img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  display: inline-block; }

.builder__client__info {
  display: inline-block;
  vertical-align: middle; }
  .builder__client__info .client__about {
    color: rgba(0, 0, 0, 0.4); }

.builder__text {
  margin-top: 20px; }
  .builder__text__delete {
    display: none; }
  .builder__text textarea {
    display: none;
    margin-top: 10px; }

.builder__content {
  margin-top: 30px; }
  .builder__content__heading {
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    padding: 0 70px; }

.builder__dish__header, .builder__dish__dropdown {
  position: relative;
  margin-top: 20px;
  padding: 20px 70px;
  border-radius: 4px;
  background: #fff; }
  .builder__dish__header input, .builder__dish__dropdown input {
    padding-left: 0;
    padding-right: 0; }
  .builder__dish__header .glyphicon, .builder__dish__dropdown .glyphicon {
    position: absolute;
    top: 30px;
    left: 25px;
    color: rgba(0, 0, 0, 0.4); }
  .builder__dish__header .glyphicon-remove, .builder__dish__dropdown .glyphicon-remove {
    right: 65px;
    left: initial; }
  .builder__dish__header .glyphicon-chevron-down, .builder__dish__dropdown .glyphicon-chevron-down {
    right: 25px;
    left: initial;
    color: #5491E7; }

.builder__dish__dropdown {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  .builder__dish__dropdown .ingridient {
    padding: 10px 0;
    display: block; }
    .builder__dish__dropdown .ingridient input {
      display: inline;
      margin-right: 20px; }
  .builder__dish__dropdown .comment {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.15); }
  .builder__dish__dropdown textarea {
    border: 1px solid rgba(0, 0, 0, 0.15); }

.builder__dish--empty {
  border: 1px dashed rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  text-align: center;
  min-height: 100px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  .builder__dish--empty span {
    max-width: 200px; }

.builder__dish--opened > .builder__dish__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.builder__dish--closed > .builder__dish__dropdown {
  display: none; }
