.builder {
  padding-bottom: 50px;
}


.builder__header {
  padding: 15px 0;
  background: rgba($navbar-bg, .8);

  .btn {
    border: none;
    padding: 7px 15px;
  }

  &__client {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;

    .btn.btn-primary {
      background: transparent;
      border: 1px solid rgba(#fff, .5);
      color: #fff;
    }

    &--choose {
      .btn {
        flex-grow: 1;
      }
    }

    &--list {
      input {
        flex-grow: 1;
      }
    }

    &--one {
      img {
        max-width: 34px;
        float: left;
        margin-right: 10px;
      }

      .btn.btn-primary {
        flex-grow: 1;
        padding: 5px 10px;
        text-align: left;
      }

      .glyphicon {
        margin-left: 10px;
        float: right;
        top: 3px;
      }
    }
  }

  &__status {

    .btn-group,
    .btn {
      display: block;
      width: 100%;
      text-align: left;

      .caret {
        float: right;
        margin-top: 8px;
      }
    }

  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .wrapper {
      margin-right: 10px;
    }

    input {
      background-color: rgba(#fff, 0.1);

      &:focus,
      &:active {
        background-color: #fff;
      }
    }

    > .btn {
      font-size: 0;
      padding: 7px 20px;
      height: 34px;
      background-repeat: no-repeat;
      background-position: center;

      &--preview {
        background-image: url("../img/icon-eye.svg");
        background-size: 20px 14px;
      }

      &--delete {
        background-image: url("../img/icon-trash.svg");
        background-size: 17px 19px;
        background-color: transparent;

        &:hover,
        &:active,
        &:focus {
          background-image: url("../img/icon-trash-hover.svg");
        }
      }
    }
  }
}

.builder__aside {
  padding-top: 40px;
  padding-right: 40px;

  .nav-pills {
    margin: 0;
    margin-bottom: 10px;

    >li>a {
      padding: 5px 15px;
    }
  }
}

.builder__filter {
  &__search {
    input {
      position: relative;
      padding-left: 40px;
    }
    .glyphicon {
      top: 29px;
      left: 10px;
      color: $grey;
      z-index: 100;
    }
  }
  select {
    margin-top: 25px;
  }
}

.builder__result {
  background: #fff;
  border: 2px solid #fff;
  border-radius: $radius;
  padding: $padding;
  padding-bottom: 10px;
  margin-top: 25px;
  cursor: pointer;

  .glyphicon {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    position: relative;
    border-color: $primary;
    .glyphicon {
      position: absolute;
      display: inline-block;
      top: 50%;
      margin-top: -7px;
      right: 30px;
      color: $grey;
    }
  }

  &__heading {
    position: relative;
    font-size: 15px;
    font-weight: normal;
    display: inline-block;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -15px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: $primary;
    }
  }

  &__descr {
    display: block;
    color: $grey;
  }
}

.builder__info {
  color: rgba(#000, .7);

  &__title {
    font-size: 16px;
    margin-top: 30px;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    line-height: 1.7;
  }
}


.builder__body {
  border-left: 1px solid rgba($grey, .1);
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.builder__alert {
  font-weight: 500;
  padding: 20px;

  .btn-primary {
    background: $navbar-bg;
    border-color: $navbar-bg;

    &:hover,
    &:focus,
    &:active {
      background: rgba($navbar-bg, .9);
      border-color: rgba($navbar-bg, .8);
    }

    .glyphicon {
      margin-right: 7px;
    }
  }

  &--message {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > span {
      flex-grow: 1;
    }
  }

  &--delete {
    width: 500px;

    > span {
      display: block;
      margin-bottom: 15px;
    }
  }
}

.builder__content {

  &--empty {
    border: 1px dashed $grey;
    border-radius: $radius;
    text-align: center;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#000, .5);
    font-weight: 500;
  }

  [class^=col] {
    padding-right: 5px;
  }

  &__heading {
    color: $grey;
    margin-bottom: 20px;
    padding: 0 20px;
    padding-right: 60px;

    [class^=col] {
      padding-left: 18px;
    }
  }
}

.builder__dish {

  &__comment {
    font-size: 10px;
    line-height: 1;
    color: #BDBEC0;
    padding-left: 7px;
    display: block;
  }

  &__header,
  &__dropdown {
    position: relative;
    margin-top: 20px;
    padding: 10px 15px 15px;
    padding-right: 60px;
    border-radius: $radius;
    background: rgba(#fff, .6);

    input {
      padding: 5px;
      border: 1px dashed rgba(#fff, .6);
      background: transparent;
      line-height: 1;

      &:hover,
      &:focus,
      &:active {
        border: 1px dashed $grey-hover;
        background: #fff;
      }
    }
  }

  &__header {
    .glyphicon {
      position: absolute;
      top: 0;
      right: 0;
      padding: 25px 20px;
      height: 100%;
      font-size: 12px;
      color: $grey;
    }
  }

  &__dropdown {
    border-top: 1px solid $grey-hover;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    .ingredient {
      display: block;
      margin-bottom: 20px;;

      input[type=checkbox] {
        margin-top: 13px;
        margin-right: 15px;
        margin-left: 6px;
        margin-bottom: 6px;

        &+span {
          padding-left: 34px;
        }
      }
    }

    > .row {
      margin-right: -30px;
    }

    .builder__comment {
      border: 1px solid $grey-hover;
      background: transparent;
      border-radius: 4px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .builder__footer {
      display: flex;
      align-items: center;
      padding-right: 0;

      .btn-primary {
        background: $navbar-bg;
        border-color: $navbar-bg;
        position: relative;
        padding: 10px 15px;
        padding-left: 40px;
        margin-right: 45px;

        &::after {
          position: absolute;
          content: "";
          width: 18px;
          height: 21px;
          top: 10px;
          left: 10px;
          background-image: url("../img/icon-scales.svg");
          background-position: center;
          background-size: 18px 21px;
          background-repeat: no-repeat;
        }

        &:hover,
        &:focus,
        &:active {
          background: rgba($navbar-bg, .9);
          border-color: rgba($navbar-bg, .8);
        }
      }

      .btn-delete,
      .btn-delete .glyphicon {
        color: $danger;

        &:hover,
        &:focus,
        &:active,
        &:hover .glyphicon,
        &:focus .glyphicon,
        &:active .glyphicon {
          color: $danger-hover;
        }

        .glyphicon {
          font-size: 12px;
        }
      }
    }
  }

  &--opened {
    >.builder__dish__header {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &--closed {
    >.builder__dish__dropdown {
      display: none;
    }
  }
}


@media (min-width: 768px) {
  .builder__content {
    .col-sm-2 {
        width: 12%;
    }
  }
}
