.settings {

  input[type="text"],
  textarea {
    border: 1px solid rgba($grey, .3);
  }

  &__body {
    padding-top: 40px;
  }

  &__group {
    margin-bottom: 50px;

    label {
      margin-bottom: 15px;
      color: $grey;
    }
  }

  &__title {
    font-size: 21px;
    font-weight: lighter;
    line-height: 1.7;
    margin: 0;
    margin-bottom: 30px;
  }

  .alert {

    &__btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;

      &:last-child {
        margin-bottom: 50px;
      }
    }

    &__text {
      flex-grow: 1;
    }

    &__no {
      font-weight: lighter;
      padding-right: 10px;
    }

    &__comment {
      font-weight: lighter;
      padding-left: 10px;
      font-size: 12px;
    }

    .btn {
      padding: 4px 12px;
    }
  }

  .divider {
    display: block;
    width: 100%;
    height: 1px;
    background: $grey-hover;
    margin: 20px 0;
  }

  .panel {
    &-title {
      margin-bottom: 15px;
      font-weight: normal;
      font-size: 14px;
    }
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
      padding: 10px 0px;
      font-size: 13px;
    }
    .table .type {
      color: $grey;
    }
  }

  form {
    fieldset {
      margin-top: 20px;
      margin-bottom: 20px;
      vertical-align: middle;

      &:first-child {
        margin-top: 0;
      }

      p {
        line-height: 2.5;
        margin: 0;
      }

      .panel {
        border: 1px solid rgba($grey, .3);

        &:last-child {
          margin-bottom: 0;
        }

        &-header {
          padding: 7px 12px;
          padding-right: 6px;
          border-bottom: 1px solid rgba($grey, .3);

          input[type="text"] {
            max-width: 60%;
            padding: 6px 10px;
          }

          .btn {
            color: $grey;

            &:hover {
              color: $primary;
            }
          }
        }

        &-body {
          padding: 0;

          textarea {
            border: none;
          }
        }
      }
    }

    .glyphicon-arrow-right {
      margin-left: 7px;
    }

     .nav-tabs {
      border: none;
    }
     .nav-tabs>li>a {
      border: none;
      border-radius: 0;
      padding: 14px 25px 10px;
    }
     .nav-tabs>li.active>a,
     .nav-tabs>li.active>a:focus,
     .nav-tabs>li.active>a:hover,
     .nav-tabs>li>a:hover {
      color: #000;
      background-color: transparent;
      border: none;
      border-bottom: 4px solid #5491E7;
    }
  }


}

.add__slide {
  padding: 0;
  vertical-align: middle;
  line-height: 2.4;
  color: #000;

  &:hover,
  &:focus,
  &active {
    text-decoration: none;
    color: #000;
  }

  span.add__btn {
    margin-left: 0;
    margin-right: 10px;
  }
}
