.user-signin {
  width: 100vw;
  height: 100vh;
  background: url("../img/signin_bg.jpg") no-repeat center center fixed;
  background-size: cover;

  &__form {
    max-width: 650px;
    margin: auto;
    z-index: 1;
  }
  &__logo {
    margin-bottom: 25px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 300;
  }
  &__text {
    display: block;
    color: #7E828D;
    margin-bottom: 15px;
  }

  input[type=text].user-signin__input {
    border-radius: 0;
    border-bottom: 1px solid $grey-hover;
    margin-bottom: 30px;
    padding: 7px 0;
  }

  .btn {
    padding: 6px 45px;
    margin-right: 30px;
  }

  &__link {
    color: $grey;
  }

  .user__alert {
    text-align: left;
    border-radius: 4px;
  }
}

@media (max-width: 342px) {
  .user-signin {
    .btn {
      margin-bottom: 10px;
    }
  }
}
@media (max-width: 768px) {
  .user-signin {
    &__title {
      font-size: 20px;
      font-weight: normal;
    }
  }
}
@media (min-width: 768px) {
  .user-signin {
    .well {
      padding: 30px 60px 50px;
    }
  }
}
@media (max-width: 992px) {
  .user-signin {
    background-position: 30% 50%;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: rgba($navbar-bg, .8);
      z-index: 0;
    }

    &__form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
    }

    &__logo {
      text-align: center;
    }
  }

}
@media (min-width: 992px) {
  .user-signin {
    position: relative;

    &__form {
      position: absolute;
      top: 50%;
      left: 48%;
      transform: translateY(-50%);

    }
  }
}
